{# vim: filetype=systemd.jinja2 #}
{{ ansible_managed | ansible.builtin.comment }}
[Service]
User={{ nginx_user }}
Group={{ nginx_group }}
PIDFile={{ nginx_pidfile['nginx'] | ansible.builtin.quote }}
RuntimeDirectory={{ nginx_pidfile['nginx'] | ansible.builtin.dirname | ansible.builtin.relpath('/run') | ansible.builtin.quote }}
# Apply principle of least privilege
NoNewPrivileges=true
CapabilityBoundingSet=
{% if nginx_vhosts | map(attribute='port') | map('default', 0) | map('int') | min < 1024 %}
# Allow binding to low ports
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}
ProtectSystem=strict
ProtectHome=true
{% for path in (_log_paths + nginx_writable_paths) | ansible.builtin.unique %}
ReadWritePaths=-{{ path | ansible.builtin.quote }}
{% endfor %}
{% if nginx_inaccessible_paths | count > 0 %}
{% for path in [nginx_inaccessible_paths] | ansible.builtin.flatten | ansible.builtin.unique %}
InaccessiblePaths=-{{ path | ansible.builtin.quote }}
{% endfor %}
{% endif %}
PrivateTmp=true
PrivateDevices=true
{% if [nginx_extra_groups | default([])] | ansible.builtin.flatten | count == 0 %}
PrivateUsers=true
{% endif %}
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectProc=invisible
ProtectClock=true
ProtectHostname=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallFilter=@system-service @basic-io @io-event @network-io madvise
SystemCallFilter=~@aio @chown @keyring @memlock @privileged @resources @setuid
SystemCallArchitectures=native
RemoveIPC=true
